name: gimnasioapp
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.0
  sqflite: ^2.3.0
  sqflite_common_ffi: ^2.3.0
  sqlite3_flutter_libs: ^0.5.0
  path: ^1.8.3
  shared_preferences: ^2.2.0
  fl_chart: ^0.63.0
  flutter_localizations:
    sdk: flutter
  intl: any
dev_dependencies:

  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  

flutter:
  uses-material-design: true
  generate: true
